:root {
  /* fonts */
  --font-base: 'Poppins', sans-serif;
  --font-vampiro: "Vampiro One";
  

  /* font sizes */
  --font-size-s: 14px;
  --font-size-l: 18px;
  --font-size-x: 46px;
  --font-size-xl: 64px;

  /* Colors */
  --white: #FFFFFF;
  --gray-1: #333;
  --gray-2: #F2F2F2;
  --indianred: #E15252;


}