:root {
  /* fonts */
  --font-base: 'Poppins', sans-serif;
  --font-vampiro: "Vampiro One";
  

  /* font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 64px;

  /* Colors */
  --white: #FFFFFF;
  --gray-1: #333;
  --gray-2: #F2F2F2;
  --indianred: #E15252;
}